@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
html{
    font-size:10px;
    font-family:'Kumbh Sans', sans-serif;
}
body{
    position:relative;
}
footer{
    position:absolute;
    bottom:0px;
    width:100%;
}
main{
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background-color:hsl(273, 75%, 66%);

}
#container{
    border-radius:3rem;
    background-color:#fff;
}
#faq{
    font-weight:700;
}
.que{
    position:relative;
    border-bottom:1px solid hsl(240, 5%, 91%);
    color:hsl(240, 6%, 50%);
}
.que:hover{
    color:hsl(237, 12%, 33%);
}
.que img{
    position:absolute;
}
.ans{
    display:none;
    color:hsl(240, 6%, 50%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:1440px){
    body{
        width:144rem;
        height:80rem;
    }
    #container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
            "box1 box2"
        ;
        width:100rem;
        height:56rem;
    }
    #box1{
        background:url("../images/bg-pattern-desktop.svg") no-repeat;
        background-position:120% 80%;
        grid-area:box1;
    }
    .box-image{
        position:relative;
        transform:translate(-10rem, 20rem);
        z-index:3;
    }
    #img-wrapper{
        position:relative;
        width:50rem;
        height:40rem;
        overflow:hidden;
        transform:translate(0, -12rem);
    }
    .woman-image{
        position:absolute;
        top:0;
        bottom:0;
        transform:translate(-10rem);
    }
    #box2{
        grid-area:box2;
    }
    #faq{
        margin:6rem 0 3rem;
        font-size:3.6rem;
    }
    .que{
        width:40rem;
        padding:1.6rem 0;
        font-size:1.6rem;
    }
    .que:hover{
        font-weight:700;
    }
    .que img{
        top:2.4rem;
        right:0;
    }
    .ans{
        width:40rem;
        padding:0.5rem 0;
        font-size:1.2rem;
    }
}
@media screen and (max-width:376px){
    body{
        width:37.5rem;
        height:60rem;
    }
    #container{
        width: 30rem;
        height:44rem;
    }
    #box1{
        height:9rem;
        background:url(../images/bg-pattern-mobile.svg) no-repeat;
        background-position: 54% 90%;
    }
    .box-image{
        position:relative;
        width:8rem;
        transform:translate(5rem, -4rem);
        z-index:3;
    }
    #img-wrapper{
        position:relative;
        transform:translate(-1rem,-17rem);
    }
    .woman-image{
        position:absolute;
        left:6rem;
        width:20rem;
        z-index:1;
    }
    #box2{
        padding:2rem;
    }
    #faq{
        margin-bottom:2rem;
        text-align:center;
        font-size:2.4rem;
    }
    .que{
        width:26rem;
        margin:0 auto 1rem;
        padding-bottom:1rem;
        font-size:1.2rem;
    }
    .ans{
        width:26rem;
        margin:0 auto 1rem;
        font-size:1rem;
    }
    .que img{
        top:0.2rem;
        right:0;
    }

}